--
-- PostgreSQL database dump
--

\restrict 7Grh99cZtRA5pfpehDhW3jlBUNMa2cHbJgMEOlzTfOFDo4BIHEeseQ550If1A09

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: backend-svc-user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO "backend-svc-user";

--
-- Name: user; Type: TABLE; Schema: public; Owner: backend-svc-user
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    name character varying NOT NULL,
    age integer NOT NULL,
    username character varying NOT NULL,
    password character varying NOT NULL,
    role character varying NOT NULL
);


ALTER TABLE public."user" OWNER TO "backend-svc-user";

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: backend-svc-user
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO "backend-svc-user";

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: backend-svc-user
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: backend-svc-user
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: backend-svc-user
--

COPY public.alembic_version (version_num) FROM stdin;
4c3bf80d6c5d
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: backend-svc-user
--



--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: backend-svc-user
--

SELECT pg_catalog.setval('public.user_id_seq', 13, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: backend-svc-user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: backend-svc-user
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 7Grh99cZtRA5pfpehDhW3jlBUNMa2cHbJgMEOlzTfOFDo4BIHEeseQ550If1A09

